*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body {
    background: blue;
}

.gif {
    width: 210px;
    display: block;
    margin: 20px auto;

}

main {
    width: 375px;
    background: #F4F4F4;
    border-radius: 20px;
    margin: auto;
    padding: 44px 24px 23px;
         /*cima*//*lados*//*embaixo*/
    margin-bottom: 20px;
}

label {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    
}

select,input {
    background: rgb(216, 216, 191);
    border: 1px solid #BBBBBB;
    width: 100%;
    height: 48px;
    border-radius: 4px 0px 0px 0px;
    margin-bottom: 24px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700px;
    color: (#fff);

}

button {
    background: blue;
    color: #FFFFFF;
    width: 100%;
    height: 48px;
    top: 329px;
    left: 24px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    border-radius: 10px;
    cursor: pointer;
        
}

button:hover {
    opacity: 0.6;
}

 button:active {
    opacity: 0.8;
}

section {
    border: 1px solid #772FD3;
    border-radius: 18px;
    margin-top: 36px;
    padding: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.arrow {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    
}
.real-dolar  {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    
}
.Brasil-america, .America-Brasil {
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    color: #555555;

}

@media screen and (max-width: 500px) {

    .gif {
        width: 100px;
        display: block;
        margin: 20px auto;
    
    }

    main {

        width: 300px;

    }

}




